<!DOCTYPE html>
<html xmlns:th="
http://www.thymeleaf.org
" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <form method="post" th:action="@{/firm_add}" th:object = "${firm}">
        <div class="mb-3">
            <label for="name" class="form-label">Firm</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <button type="submit" class="btn btn-primary">Add firm</button>
        <button type="reset" class="btn btn-secondary" value="Reset">Reset</button>
    </form>
</div>
</body>
</html>